.contact{
    text-align: center;
    margin-top: 100px;
}
.contact-us{
    color: rgb(220,41,50);
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}
.get-in-touch{
    color: rgb(90, 90, 90);
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 15px;
}
.contact-content{
    margin: 40px 550px 0 550px;
    background-color: #fff;
    padding-bottom: 40px;
}
.hotline{
    margin: 40px 270px;
    padding: 40px 0;
    border-bottom: 1px solid rgb(220,41,50) ;
}
.hotline-title{
    display: flex;
    justify-content: center;
}
.hotline-title i{
    color: rgb(90, 90, 90);
    font-size: 20px;
    display: flex;
    align-items: center;
}
.hotline-title p{
    color: rgb(90, 90, 90);
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
}
.hotline-number{
    font-family: 'Quicksand', sans-serif;
    font-size: 55px;
    color: rgb(220,41,50);
}
.follow-title{
    color: rgb(90, 90, 90);
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
}
.follow-icon{
    margin-top: 15px;
}
.follow-icon i{
    color: rgb(90, 90, 90);
    font-size: 40px;
    margin: 0 5px;
}
.follow-icon i:hover{
    cursor: pointer;
    background-color: rgba(220, 41, 50, 0.719) ;
    border-radius: 15px;
    transition-duration: 0.5s;
}
.follow-icon .fb{
    padding: 10px 15px;
}
.follow-icon .insta{
    padding: 10px;
}